/* ---- Homepage Front ------ */

.homepage__container {
  display: flex;
  color: white;
  height: 100%;
  flex-direction: column;
}

.homepage__front {
  width: 100%;
  flex-direction: column;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}

.homepage__frontText {
  color: white;
  font-size: 45px;
  width: 100%;
  height: 80vh;
  padding: 250px 9%;
  height: 100%;
  z-index: 9;
}

.homepage__frontText p {
  margin-top: 10px;
  font-size: 18px;
  color: rgb(184, 178, 178);
}

.homepage__container .homepage__background {
  filter: brightness(0.3);
  height: 90vh;
  width: 100%;
  position: absolute;
  box-shadow: rgba(255, 254, 254, 0.1) 0px 10px 15px -3px,
    rgba(250, 250, 250, 0.05) 0px 4px 6px -2px;
  object-fit: cover;
}

.scroll {
  color: red;

  margin-bottom: 20px;
  width: 50px;
}

/* ---- Homepage Features ------ */

.homepage__features {
  display: flex;
  flex-direction: column;
  align-items: center;
}
