.dashboard__nav {
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  display: flex;

  width: 100%;
  background-color: rgba(32, 31, 31, 0.62);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  z-index: 99;
}

.dashboard__nav .nav__right {
  display: flex;
  align-items: center;
}

.nav__rightMoneyContainer {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  justify-content: center;
  padding-top: 1px;
  margin-right: 35px;
  background-color: rgba(203, 203, 203, 0.071);
  align-items: center;
  border-radius: 7px;
  padding-left: 15px;
  font-size: 15px;
  font-weight: 700;
}

.nav__rightName {
  display: flex;
  flex-direction: column;
}

.nav__rightName p {
  font-size: 14px;
  font-weight: 500;
}

.nav__rightName button {
  border: none;
  background-color: transparent;
  text-align: right;
  color: grey;
  font-size: 13px;
  font-family: "Poppins";
}

.nav__rightMoneyContainer button {
  margin-left: 15px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  padding: 11px 30px;
  border-radius: 7px;
  font-family: "Poppins";
  font-weight: 800;
  color: white;
  text-transform: uppercase;
  font-size: 13px;
  outline: none;
  background-color: rgba(41, 66, 148, 0.404);
  border: none;
}

.nav__rightMoneyContainer button:hover {
  cursor: pointer;
}

.nav__rightName button:hover {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}

.dashboard__nav img {
  background-color: white;
  border-radius: 13px;
  margin-left: 15px;
}

.dashboard__options {
  display: flex;

  text-align: center;
}

.dashboard__options p {
  text-transform: uppercase;
  font-weight: 900;
  margin: 0 15px;
}

/* -------- Media Queries -------- */

@media (max-width: 900px) {
  .dashboard__nav {
    flex-direction: column;
  }

  .dashboard__nav .dashboard__options {
    margin: 10px 0;
  }
}
