.minesWrapper {
  width: 100%;
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
}

.minesContainer {
  border-radius: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(31, 30, 30);
  flex-wrap: wrap;

  max-width: 1400px;
  height: 90%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

/* Mines Container Left */

.minesContainer__left {
  padding: 15px;
  width: 30%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgb(26, 26, 26);
}

@media (max-width: 976px) {
  .minesContainer__left {
    width: 100%;

    height: auto;
  }

  .minesContainer__right {
    height: auto !important;
    width: 100% !important;
    background-color: rgb(49, 49, 49);
  }
}

.minesContainer__betContainer {
  width: 100%;
  background-color: rgb(55, 54, 54);
  height: 45px;
  display: flex;
  margin-top: 3px;
  border-radius: 5px;
  align-items: center;
}
.minesContainer__betContainer .moneyIcon {
  margin: 0 10px;
}

.minesContainer__betContainer .maxButton {
  height: 100%;
  border: none;
  background-color: rgb(91, 91, 91);
  color: rgb(205, 199, 199);
  font-family: "Poppins";
  cursor: pointer;
  font-weight: 600;
  padding: 0 15px;
  border-radius: 0 5px 5px 0;
}

.minesContainer__betContainer input {
  height: 100%;
  font-weight: 600;

  font-size: 16px;
  border: none;
  border-radius: 5px;
  width: 100%;
  color: rgb(129, 128, 128);
  padding-left: 10px;
  outline: none;
  background-color: rgb(44, 44, 44);
}

.minesContainer__minesTotal {
  width: 100%;
  margin-top: 10px;
}

.minesContainer__minesTotal select {
  margin-top: 3px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: none;
  height: 45px;
  background-color: rgb(55, 54, 54);
  color: white;
}

.minesContainer__left .betButton {
  font-weight: 500;
  font-family: "Poppins";
  border: none;
  outline: none;
  background-color: #2ecc71;
  padding: 12px 0;
  font-size: 16px;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 15px;
}

/* Mines Container Right */

.minesContainer__right {
  background-color: rgb(31, 30, 30);
  padding: 35px 60px;
  width: 70%;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.minesContainer__right .row {
  display: flex;
  padding: 5px 0;
}

.minesContainer__right .col {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  border: 1px solid grey;
  transform-style: preserve-3d;
  transition: all 0.7s ease;
}

.minesContainer__right .col img {
  width: 70%;
  height: 70%;
  object-fit: cover;
}

.minesContainer__right .col:hover {
  transform: rotateY(-180deg);
}

.theFront {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  backface-visibility: hidden;
}

.theBack {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(-180deg);
}
